<html>
<head>
<!-- Google Analytics Content Experiment code ->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190830233-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


	<title>Final Project</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/main-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style> 
	@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');
	@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800,900');
	</style>

	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-135473498-1', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>
<body> 
	<div class="screen-container" id="taskCardBackground">

<!-- BEGIN header -->
	<div class="other-header" id="headerDropShadow">
		
<!--HAMBURGER MENU--> 
	<img src="/svg/hamburger.svg" id="line-home" onclick="openNav()"/>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">✕</a>
			<a href="/settings">Settings</a>
			<a href="/account">Account</a>
			<a href="/about">About</a>
			<a href="/help" id="help">Help</a>
	</div>  
<!--HAMBURGER MENU END-->

		<h1>Dashboard</h1>
		<img src="/svg/edit.svg" alt="EDIT" id="btn-edit" onclick="editSessions()">
		</div>
<!-- END header -->


<!-- BEGIN onGoing Sessions -->
		<div class="onGoingSessions">
			<div class="onGoingSessions-container">
				<h1>CURRENT SESSIONS</h1>
					
					{{#if viewAlt}} <!-- AB TEST -->
					<ul class="list-group list-unstyled ABTEST" id="ABSessions">
						{{#each sessions}}
							<li class="sessions" id="{{id}}"> 
								<p class="sessionname">{{name}}</p>

								<img class="deleteSessionIcon" id="deleteSessionIcon" src="/svg/trash.svg" onclick="deleteTask()">

								<p class="timeStyle"> <img id="clockIcon" src="https://img.icons8.com/material-rounded/24/000000/time.png">{{time}}</p>

							</li>
						{{/each}}
					</ul> <!-- AB TEST END -->
					{{else}}
					<ul class="list-group list-unstyled" id="Sessions">
						<!-- accesses sessions and access all the variables -->
						{{#each sessions}}
							<li class="sessions" id="{{id}}"> 
								<p class="sessionname">{{name}}</p>

								<img class="deleteSessionIcon" id="deleteSessionIcon" src="/svg/trash.svg" onclick="deleteTask()">

								<p> <img id="clockIcon" src="https://img.icons8.com/material-rounded/24/000000/time.png">{{time}}</p>
							</li>
						{{/each}}
					</ul>
					{{/if}}
			</div>
		</div>
<!-- END onGoing Sessions -->
</div> <!--- END OF SCREEN CONTAINER -->
{{#if viewAlt}}
		<div class="container-footer">
			<button onclick="openNewSession()" class="btn new-session" id="button-deets" style="background-color: red;"> + New Session </button>
		</div>
{{else}}
		<div class="container-footer">
			<button onclick="openNewSession()" class="btn new-session" id="button-deets" style="background: #4B79A1;"> + New Session </button>
		</div>
{{/if}}
		
	
<!--new task pop up-->
		<div class="newTaskCard" id="newSession">
			<form method="get" role="form" action="/index/newSession/">
				<h2>Create a New Session</h2>
				<input id="sessionname" type="text" placeholder="Enter Session Name" name="sessionname" required>
				<input id="taskname" type="text" placeholder="Enter First Task Name" name="taskname" required>

				<label for="time"><b>How long will it take?</b></label>
		    	<br />
		    	<input id="timeInputBox" type="number" name="hour" min="0" max="30" required>
		    	<label for="hour"><p>hr</p></label>
		    	<input id="timeInputBox" type="number" name="minute" min="0" max="59" required>
		    	<label for="min"><p>min</p></label> <br>

		    	<label for="date"><b>Finish By:</b></label>
				<input id="taskdate" type="date" placeholder="Pick Date" name="taskdate" required>

		    	<button type="button" class="btn-cancel" onclick="closeNewSession()">✕</button>

				<button type="submit" class="btn-save" onclick="addTask()">Save</button> 
			</form>
		</div>
<!--end new task pop up-->

<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/newSession.js"></script>
<script src="/js/timers.js"></script>
<script src="/js/facebook.js"></script>
</body>
</html>
