<!DOCTYPE html>
<html>
<head>
	<title>{{sessionname}}</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>
<body>
	<div class='screen-container'>
		<div class="container-header">
			<a href="../../">
				<img src="../svg/back-btn.svg" alt="BACK" id='btn-back'>
			</a>
			<div id="session-name">
				<form action="addtask">
    			<input type="text" id="{{sessionname}}" name="sessionname" placeholder="{{sessionname}}">
			</div>
		</div>

<!--ongoing session-->
	
		<ul class="list-group-session" id="Session">
			<!-- accesses sessions and access all the variables -->
			{{#each tasks}}
				<li class="session" id="{{id}}">{{name}} </li>
				<!--<img src="/svg/star.svg" id="star-session">-->
			{{/each}}

				<li>

					<div class="add-task-text">
					<button onclick="openForm()" class="btn add-task" id="add-task-text">+ Add Task</button>
					</div>
				</li>
		</ul>
	
		
<!---ongoing session end-->

		<!--new task pop up-->
		<div class="newTaskCard" id="newTask">
			<form method="get" role="form" action="/addtask">
				<h2>New Task</h2>
				<label for="Enter Name"><b>Task Name</b></label>
				<input id="taskname" type="text" placeholder="Enter Name" name="taskname" required>

				<label for="time"><b>How long will it take?</b></label>
		    	<input id="tasktime" type="time" placeholder="Enter Time" name="tasktime" required>

		    	<label for="date"><b>Finish By: </b></label>
		    	<input id="taskdate" type="date" placeholder="Pick Date" name="taskdate" required>

		    	<button type="button" class="btn-cancel" onclick="closeForm()">Close</button>

				<button type="submit" class="btn-save" onclick="closeForm()">Save</button> 

			</form>
		</div>
<!--end new task pop up-->

		<button class="btn btn-check"> <img src="../svg/check.svg"> <a href="/done" id="task-item-text" role="button"> </a> </button>

<!--
		<div class="container-options" onclick="openOptions()"> 
			<img src="svg/back-btn.svg" alt="BACK" id='option-arrow-up'></img>
			<a id="session-option-txt">Session Options</a>
		</div>
-->
		<div class="container-options">
				<div class="clickTarget" onclick="openOptions()">				
					<img src="../svg/back-btn.svg" alt="BACK" id="option-arrow-up"></img>
					<a id="session-option-txt">Session Options</a>
				</div>
		</div>

		<div class="container-options-open" id="optionsOpen">
			<div class="clickTarget" onclick="closeOptions()">				
				<img src="../svg/back-btn.svg" alt="BACK" id="option-arrow-down"></img>
				<a id="session-option-txt">Session Options</a>
			</div>

			<div class="container-options-open-lower">
				<p>Push Notifications</p>
					<div class="toggleContainer_01">
						<input type="checkbox" id="switch" /><label for="switch">Toggle01</label>
					</div>
				<br></br>
				<p>Voice Commands</p>
					<div class="toggleContainer_02">
						<input type="checkbox" id="switch02" /><label for="switch02">Toggle02</label>
					</div>
			</div>
		</div>

	</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/newSession.js"></script>
<script src="../js/timer.js"></script>
</body>
</html>
