<!DOCTYPE html>
<html>
<head>
	<title>{{sessionname}}</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="ISO-8859-1"> <!-- UNICODE -->
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>
<body onload="loadNotiOptions()">
	<div class="screen-container" id="taskCardBackground">

		<!-- BEGIN header -->
		<div class="other-header">
			<a href="#" onclick="history.back();return false">
				<img src="/svg/back-btn.svg" alt="BACK" id='btn-back'>
			</a>
			<div id="session-name">
    			<input type="text" id="sessionname" name="sessionname" placeholder="{{sessionname}}">
			</div>
			<div class="headerTime" id="timeBox">
				<p>Remaining Time:</p>
				<div class="time" id="time">{{time}}</div>
				<div class="duedate" id="duedate">Due by: {{duedate}}</div>
			</div>
		</div>
		<!-- END header -->

		<!-- BEGIN ongoing session-->
		<ul class="list-group-session" id="Session">
			<!-- accesses sessions and access all the variables -->
			<!-- <li class="duedate" id="duedate">Due by: {{duedate}}</li> -->
			{{#each tasks}}
				<li class="task" id="{{id}}">{{name}}
				<img id="deleteTaskIcon" src="/svg/trash.svg" onclick="deleteTask()">
				</br>
				<p><img id="clockIcon-task" src="/svg/hourglass.svg">{{time}}</p>
				</li>
				<!--<img src="/svg/star.svg" id="star-session">-->
			{{/each}}

			<div style="display: none;">
				<audio id ="defaultSound" src="/sounds/default.wav"> </audio>
				<audio id ="classicSound" src="/sounds/classic.wav"> </audio>
				<audio id ="sirenSound" src="/sounds/siren.wav"> </audio>
				<audio id ="ambianceSound" src="/sounds/ambiance.wav"> </audio>
				<audio id ="alienSound" src="/sounds/alien.wav"> </audio>

			</div>
			<li>
				<div class="add-task-text">
					<button onclick="openNewTask()" class="btn add-task" id="add-task-text">+ Add Task</button>
				</div>
			</li>
		</ul>

		<!--- END ongoing session ---> 
	


		<!--- END ongoing session --->

		<button class="btn-timer" id="startTimer" onclick="start()">START</button>
<!--
		<button class="btn-timer" id="otherStartTimer" onclick="otherStart()" style="margin-right:100px; background-color:orange;">OTHER</button> 

		<button class="btn-timer" id="stopTimer" onclick="pause()">STOP</button> 
-->

		<button class="btn-timer" id="startTimer" onclick="starttime()">START</button>
		<button class="btn-timer" id="stopTimer" onclick="pausetime()">STOP</button>
		<!--
		<div class="container-options">
				<div class="clickTarget" onclick="openOptions()">				
					<img src="/svg/back-btn.svg" alt="BACK" id="option-arrow-up"></img>
					<a id="session-option-txt">Session Options</a>
				</div>
		</div>
		-->
		<!--- BEGIN SESSION OPTIONS -->
		<div class="container-options-open" id="optionsOpen">
			<div class="clickTarget" onclick="toggleOpt()">				
				<img src="/svg/back-btn.svg" alt="BACK" id="option-arrow-up"></img>
				<a id="session-option-txt">Session Options</a>
			</div>

			<div class="container-options-open-lower">
				<p>Push Notifications <br/>
				Voice Notifications</p>
					<div class="toggleContainer_01" id="optionToggle">
						<input type="checkbox" id="pushNoti" onclick="toggleNoti()"/>
						<label for="pushNoti">Toggle01</label>

						<input type="checkbox" id="voiceNoti" onclick="toggleVoice()"/>
						<label for="voiceNoti">Toggle02</label>
					</div>

					<div class="select-sound">
						<select id="audioFiles" name="sounds" size="1" onchange="toggleSound()">
							<option id="default" value="default.wav">Default Sound</option>
							<option id="classicAlarm" value="classic.wav">Classic Alarm</option>
							<option id="siren" value="siren.wav">Sirens</option>
							<option id="ambiance" value="ambiance.wav">Dreamy</option>
							<option id="alien" value="alien.wav">Alien</option>
						</select>
						<div class="container-soundOption">
							<img id="pauseSound-btn" src="/svg/pause-button.svg" onclick="pauseTestSound()"></img>
						</div>
					</div>
			</div>
		</div>
		<!--- END SESSION OPTIONS -->
	</div>
</div>

	</div> <!--- END OF SCREEN CONTAINER -->


<!--new task pop up-->
		<div class="newTaskCard" id="newTask">
			<form method="get" role="form" action="/session/{{sessionname}}/addtask">
				<h2>Add a New Task</h2>
				<input id="taskname" type="text" placeholder="Enter Task Name" name="taskname" required>

				<label for="time"><b>How long will it take?</b></label>
				<div></div>
		    	<input id="timeInputBox" type="number" name="hour" min="0" max="30" required>
		    	<label for="hour"><p>hr</p></label>
		    	<input id="timeInputBox" type="number" name="minute" min="0" max="59" required>
		    	<label for="min"><p>min</p></label> <br>

		    	<label for="date"><b>Finish By:</b></label>
		    	<input id="taskdate" type="date" placeholder="Pick Date" name="taskdate" required>
				
		    	<button type="button" class="btn-cancel" onclick="closeNewTask()">✕</button>
				<button type="submit" class="btn-save">Save</button> 
				<!-- <button type="submit" class="btn-save" onclick="addTask()">Save</button> -->
			</form>
		</div>
<!--end new task pop up-->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/newSession.js"></script>
<script src="/js/timers.js"></script>
<script src="/js/options.js"></script>


</body>
</html>
