<!DOCTYPE html>
<html>
<head>
	<title>{{sessionname}}</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>
<body>
	<div class="screen-container" id="taskCardBackground">

<!-- BEGIN header -->
		<div class="other-header">
			<a href="/index">
				<img src="/svg/back-btn.svg" alt="BACK" id='btn-back'>
			</a>
			<div id="session-name">
    			<input type="text" id="sessionname" name="sessionname" placeholder="{{sessionname}}">
			</div>

			<div class="headerTime" id="timeBox">
				<p>Remaining Time:</p>
				<div class="time" id="time">{{time}}</div>
				<div class="duedate" id="duedate">Due by: {{duedate}}</div>
			</div>
		</div>
<!-- END header -->

<!-- BEGIN ongoing session-->
		<ul class="list-group-session" id="Session">
			<!-- accesses sessions and access all the variables -->
			<!-- <li class="duedate" id="duedate">Due by: {{duedate}}</li> -->
			{{#each tasks}}
				<li class="session" id="{{id}}">{{name}}</li>
				<!--<img src="/svg/star.svg" id="star-session">-->
			{{/each}}

			<div style="display: none;">
				<audio id ="audio" src="/sounds/alarm1.wav"> </audio>
			</div>
			<li>
				<div class="add-task-text">
					<button onclick="openNewTask()" class="btn add-task" id="add-task-text">+ Add Task</button>
				</div>
			</li>
		</ul>
<!--- END ongoing session --->

		<button class="btn-timer" id="startTimer" onclick="start()">START</button>

		<button class="btn-timer" id="stopTimer" onclick="pause()">STOP</button>

		<div class="container-options">
				<div class="clickTarget" onclick="openOptions()">				
					<img src="/svg/back-btn.svg" alt="BACK" id="option-arrow-up"></img>
					<a id="session-option-txt">Session Options</a>
				</div>
		</div>

<!--- BEGIN SESSION OPTIONS -->

		<div class="container-options-open" id="optionsOpen">
			<div class="clickTarget" onclick="closeOptions()">				
				<img src="/svg/back-btn.svg" alt="BACK" id="option-arrow-down"></img>
				<a id="session-option-txt">Session Options</a>
			</div>

			<div class="container-options-open-lower">
				<p>Push Notifications</p>
					<div class="toggleContainer_01">
						<input type="checkbox" id="switch" onclick="pushToggle()"/>
						<label for="switch">Toggle01</label>
					</div>
				<br></br>
				<p>Voice Notifications</p>
					<div class="toggleContainer_02">
						<input type="checkbox" id="switch02"/>
						<label for="switch02">Toggle02</label>
					</div>

					<div class="select-sound">
						<select name="sounds" size="1">
							<option value="default">Default Sound</option>
							<option value="siri">Siri</option>
						  	<option value="alexa">Alexa</option>
							<option value="classic">Classic Alarm</option>
							<option value="sirens">Sirens</option>
							<option value="dreamy">Dreamy</option>
						</select>
					</div>
			</div>

		</div>
	</div>
</div>

<!--- END SESSION OPTIONS -->

	</div> <!--- END OF SCREEN CONTAINER -->


<!--new task pop up-->
		<div class="newTaskCard" id="newTask">
			<form method="get" role="form" action="/session/{{sessionname}}/addtask">
				<h2>Add a New Task</h2>
				<input id="taskname" type="text" placeholder="Enter Task Name" name="taskname" required>

				<label for="time"><b>How long will it take?</b></label>
		    	<input type="number" name="hour" min="0" max="12" required>
		    	<label for="hour"><p>hr</p></label>
		    	<input type="number" name="minute" min="5" max="59" required>
		    	<label for="min"><p>min</p></label> <br>

		    	<label for="date"><b>Finish By: </b></label>
		    	<input id="taskdate" type="date" placeholder="Pick Date" name="taskdate" required>

		    	<button type="button" class="btn-cancel" onclick="closeNewTask()">Close</button>
				<button type="submit" class="btn-save">Save</button> 
				<!-- <button type="submit" class="btn-save" onclick="addTask()">Save</button> -->
			</form>
		</div>
<!--end new task pop up-->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/newSession.js"></script>
<script src="/js/timers.js"></script>
<script src="/js/startSession.js"></script>

</body>
</html>
